version: "3.8"

services:
  tuananhtest_bot:
    build: .
    container_name: tuananhtest_bot
    restart: unless-stopped
    environment:
      TELEGRAM_BOT_TOKEN: ""
      TELEGRAM_CHAT_ID: ""
      TIMEZONE: ""
      
    # volumes:
    #   - ./data:/app/data
#     networks:
#       - bot_network

# networks:
#   bot_network:
#     driver: bridge
